version: "3.1"
services:
    www:
        extra_hosts:
           - "host.docker.internal:host-gateway" 
        build:
            context: './containers/apache/'
        ports: 
            - 80:80
            - 22:22
        volumes:
            - ./www:/var/www/html/
        networks:
            - default
